*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 56px;
}

:root {
    --bg-color: #101010;
    --second-bg-color: #191919;
    --text-color: #ffffff;
    --second-color: #c6c9d8bf;
    --third-color: #585c63;
    --main-color: #630fff;
    --big-font: 84px;
    --h2-font: 67px;
    --p-font: 17px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/*****Start Header*****/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 10%;
    transition-duration: .3s;
}

.logo {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.7px;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn {
    padding: 0px 20px;
    height: 40px;
    display: inline-block;
    background-color: var(--main-color);
    line-height: 42px;
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.7px;
    transition: all .30s;
}

.h-btn:hover {
    transform: translateY(-5px);
}

header.sticky {
    padding: 12px 10%;
    background-color: var(--main-color);
}

.sticky .logo {
    color: var(--text-color);
}

.sticky .navbar a::after {
    background-color: var(--text-color);
}

.sticky .h-btn {
    background-color: var(--text-color);
    color: #000000;
}

/*****Start Home*****/
section {
    padding: 120px 10%;
}

.home {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1 {
    margin: 20px 0px;
    font-size: var(--big-font);
}

span {
    color: var(--main-color);
}

.home-text h3 {
    font-size: 25px;
    margin-bottom: 55px;
}

.home-text h4 {
    color: var(--third-color);
    font-size: 20px;
    letter-spacing: 1.7px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 12px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 6px #000000, 0px 0px 14px #868686;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

.newslatter p {
    font-size: 15px;
    color: var(--third-color);
    padding: 3px 21px;
}

/*****Start About*****/
.about {
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 32px;
}

.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 20px;
}

.about-text h5 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 1.7px;
}

.about-text p {
    color: var(--second-color);
    letter-spacing: 1;
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 45px;
}

.download-btn {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease .30s;
}

.download-btn:hover {
    transform: translateY(-8px);
    border: 2px solid var(--main-color);
    background-color: transparent;
}

/*****Start Skills*****/
.skills {
    background-color: var(--bg-color);
}

.center {
    text-align: center;
}

.center h2 {
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.center p {
    color: var(--second-color);
    letter-spacing: 1.7px;
    line-height: 28px;
    font-size: var(--p-font);
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 32px;
    align-items: center;
    margin-top: 56px;
}

.row {
    background-color: var(--second-bg-color);
    padding: 55px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .35s;
}

.row:hover {
    transform: translateY(-8px);
}

.row i {
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 43px;
}

.row h3 {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.row p {
    color: var(--second-color);
    line-height: 30px;
    font-size: var(--p-font);
}

/*****Start Portfolio*****/
.portfolio {
    background-color: var(--second-bg-color);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 32px;
    align-items: center;
    margin-top: 56px;
    cursor: pointer;
}

.box img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box img:hover {
    transform: scale(1.1);
}

.box p {
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 15px;
}

.box h5 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

/*****Start Contact*****/
.contact {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 48px;
}

.contact-form h2 {
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.contact-form p {
    color: var(--second-color);
    letter-spacing: 1.7;
    line-height: 28px;
    font-size: var(--p-font);
    margin-bottom: 65px;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .send {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    width: 200px;
    transition: ease .35s;
    text-transform: uppercase;
}

.contact-form form .send:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

/*****Start Footer*****/
footer {
    text-align: center;
    background-color: var(--second-bg-color);
    padding: 32px;
}

footer p {
    font-size: 17px;
    color: var(--second-color);
    letter-spacing: 1.7px;
}

/*****Responsive*****/
@media (max-width: 1270px) {
    header {
        padding: 18px 4%;
        transition: .2s;
    }

    header.sticky {
        padding: 10px 4%;
        transition: .2s;
    }

    section {
        padding: 80px 4%;
        transition: .2s;
    }
    
    :root {
        --big-font: 76px;
        --h2-font: 60px;
        --p-font: 16px;
        transition: .2s;
    }
}

@media (max-width: 990px) {
    .home {
        height: 85vh;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }

    .navbar a {
        display: block;
        padding: 18px;
        margin: 21px;
        border-left: solid 2px var(--text-color);
    }

    .navbar a:hover {
        background-color: var(--main-color);
    }

    .navbar a:hover::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .contact-form {
        order: 2;
    }

    .box img {
        max-width: 100%;
        width: 760px;
        height: auto;
    }
}